.require {
   color: red;
   width: 20px;
   font-weight: bold;
}

.form-group{
	height:25px;
}

.ibox {
	clear: both;
	margin-bottom: 2px;
	margin-top: 0;
	padding: 0
}
.ibox-content {
	color: inherit;
	padding: 5px 10px 10px;
	border-color: #e7eaec;
	-webkit-border-image: none;
	-o-border-image: none;
	border-image: none;
	border-style: solid solid none;
	border-width: 1px 0
}

.hr-line-dashed {
	border-top: 1px dashed #e7eaec;
	color: #fff;
	background-color: #fff;
	height: 1px;
	margin: 10px 0
}


.hr-line-solid {
	border-bottom: 1px solid #e7eaec;
	background-color: rgba(0, 0, 0, 0);
	border-style: solid !important;
	margin-top: 15px;
	margin-bottom: 15px
}

.form-control {
    background-color: #FFF;
    background-image: none;
    border: 1px solid #6a6f77;
    border-radius: 3px;
    color: inherit;
    display: block;
    padding: 6px 12px;
    -webkit-transition: border-color .15s ease-in-out 0s,box-shadow .15s ease-in-out 0s;
    transition: border-color .15s ease-in-out 0s,box-shadow .15s ease-in-out 0s;
    width: 100%;
    font-size: 14px;
}

.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #6a6f77;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 0px;
    font-weight: 700;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 0px;
    font-weight: 700;
}


.wrapper-content {
	padding: 30px 15px;
}

#page-wrapper {
	background: #f4f6fa;
}

.ibox-content, .ibox-title {
	border-width: 1px;
}

.ibox-content:last-child {
	border-style: solid;
}

.nav>li.active {
	--border-left: 3px solid #39aef5;
	border:none;
}

.nav-header {
	padding: 3px 15px 3px;
	background: url(patterns/header-profile.png) no-repeat;
	height: 42px;
	line-height:42px;
	border-bottom: 2px solid #39aef5;
	font-size:12px;
}


.img-circle {
	border-radius: 5px;
}

.navbar-default .nav>li>a:focus, .navbar-default .nav>li>a:hover
{
	background: #39aef5;
	color: #fff;
}

.nav.nav-tabs>li.active>a {
	color: #555;
}

.content-tabs {
	border-bottom: solid 2px #39aef5;
}

.nav.nav-tabs>li.active {
	background: 0;
}

.page-tabs a.active {
	background: #39aef5;
	color: #fff;
}

.page-tabs a.active i:hover, .page-tabs a.active:hover {
	background: #0e9aef;
	color: #fff;
}

.navbar-static-side {
	background: #2f4050;
}


.fa-hover a .fa-detail  {
	font-size: 14px;
}
.fa-hover a:hover .fa-detail   {
	font-size: 24px;
    text-indent:-4px;
}


.nav-second-level li,.nav-third-level li{border-bottom:none!important;}
.nav-second-level li a{padding:7px 15px 7px 10px;padding-left:35px;}
.nav-third-level  li a{padding-left:45px;}

.roll-right.J_tabRight {
	right: 155px;
}


.roll-right.btn-group-info {
	right: 80px;
	width: 80px;
	padding: 0;
}

.roll-right.btn-group-info button {
	width: 190px;
}

.page-tabs a {
    color: #39aef5;
    font-weight: bold;
}
.roll-left-backword{
	left:40px;
}

nav.page-tabs {
	margin-left: 80px;
}

body.mini-navbar .appelement {
	display: none;
}
.logo-element {
    padding: 0px;
    text-indent:-2px;
}

.dropdown-menu > li > a:hover {
    background: #39aef5;
}

.dropdown-menu > li > a {
    display: block;
    clear: both;
    font-weight: normal;
    color: #333;
    white-space: nowrap;
}

.wrapper-content {
    padding: 5px 15px;
}

.marquee {
    width: 150px;
    height:38px;
    overflow: hidden;
    border:1px solid #ccc;
    background: #2f4050;
    color: #fff;
}