<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.insigma.mvc.dao.login.LoginMapper">
    <select id="getUserAndGroupInfo" parameterType="String" resultType="SUser" >
     select 
       userid,
       username,
       password,
       cnname,
       enabled,
       groupid,
       groupname,
       groupparentid,
       aab998
     from v_user_login
     where  username=#{username}
	</select>
	
	<!-- getGroupInfo -->
	<select id="getGroupAreaInfo" parameterType="String" resultType="SGroup">
         select groupid,parentid,name,type from s_group  start with groupid=#{groupid}  connect by prior PARENTID = groupid 
	</select>
	
	<!-- 个人用户角色查询  -->
	<select id="findRolesStr" parameterType="String" resultType="SRole">
		select b.code from v_user a,s_role b ,s_user_role c where a.username=#{username}  and a.userid=c.userid and b.roleid=c.roleid  and b.code is not null
	</select>
	
	
	<!-- 个人用户权限查询  -->
	<select id="findPermissionStr" parameterType="String" resultType="SPermission">
		select * from (
        select distinct d.url, d.type, nvl(d.iconcss,'fa-file-o') iconcss , d.permissionid,d.parentid, d.name,d.sortnum
       from v_user a,s_role b ,s_user_role c,s_permission d ,s_role_permission e 
        where a.username=#{username}
        and a.userid=c.userid 
        and b.roleid=c.roleid  and b.roleid=e.roleid 
        and d.permissionid=e.permissionid  and d.code is not null and d.parentid is not null and d.enabled='1'
        union 
        select distinct c.url, c.type, nvl(c.iconcss,'fa-file-o') iconcss, c.permissionid, c.parentid, c.name,c.sortnum
         from v_user a, s_user_permission b, s_permission  c 
        where a.username =#{username}
         and a.userid = b.userid and c.permissionid=b.permissionid and c.code is not null and c.parentid is not null and c.enabled='1' ) order by sortnum 
	</select>
	
	
	
	<!-- 保存 -->
	<insert id="saveLoginHashInfo"  parameterType="LoginInf">
		insert into S_LOGININF(loginhash,logintime,ip,usergent,sessionid)
		values (#{loginhash},sysdate,#{ip},#{usergent},#{sessionid})
	</insert>
	
	<!-- 检验登录权限 -->
	<select id="findLoginInfoByhashcode" parameterType="String" resultType="LoginInf">
		select * from S_LOGININF where loginhash=#{loginhash} 
	</select>
	
	
</mapper>